<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>主要内容区main</title>
<link href="css/css.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="images/main/favicon.ico" />
<style>
body{overflow-x:hidden; background:#f2f0f5; padding:15px 0px 10px 5px;}
#searchmain{ font-size:12px;}
#search{ font-size:12px; background:#548fc9; margin:10px 10px 0 0; display:inline; width:100%; color:#FFF; float:left}
#search form span{height:40px; line-height:40px; padding:0 0px 0 10px; float:left;}
#search form input.text-word{height:24px; line-height:24px; width:180px; margin:8px 0 6px 0; padding:0 0px 0 10px; float:left; border:1px solid #FFF;}
#search form input.text-but{height:24px; line-height:24px; width:55px; background:url(images/main/list_input.jpg) no-repeat left top; border:none; cursor:pointer; font-family:"Microsoft YaHei","Tahoma","Arial",'宋体'; color:#666; float:left; margin:8px 0 0 6px; display:inline;}
#search a.add{ background:url(images/main/add.jpg) no-repeat -3px 7px #548fc9; padding:0 10px 0 26px; height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#FFF; float:right}
#search a:hover.add{ text-decoration:underline; color:#d2e9ff;}
#main-tab{ border:1px solid #eaeaea; background:#FFF; font-size:12px;}
#main-tab th{ font-size:12px; background:url(images/main/list_bg.jpg) repeat-x; height:32px; line-height:32px;}
#main-tab td{ font-size:12px; line-height:40px;}
#main-tab td a{ font-size:12px; color:#548fc9;}
#main-tab td a:hover{color:#565656; text-decoration:underline;}
.bordertop{ border-top:1px solid #ebebeb}
.borderright{ border-right:1px solid #ebebeb}
.borderbottom{ border-bottom:1px solid #ebebeb}
.borderleft{ border-left:1px solid #ebebeb}
.gray{ color:#dbdbdb;}
td.fenye{ padding:10px 0 0 0; text-align:right;}
.bggray{ background:#f9f9f9}
</style>
    <link href="./css/page.css" type="text/css" rel="stylesheet"/>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/page.js"></script>
<script type="text/javascript">
function xmrl(id){

	$.ajax({
	    type: "POST",
	    url: "xmrls",
	    data: {"id":id},
	    success: function(data){
	 		if(data.restInfo=="success"){
	 			alert("认领成功");
	 			location.reload();
	 			
	 		}else{
	 			alert("失败");
	 		}
	       }
	 });	
	
}

function xmzc(id){

	$.ajax({
	    type: "POST",
	    url: "xmzc",
	    data: {"id":id},
	    success: function(data){
	 		if(data.restInfo=="success"){
	 			alert("转出成功");
	 			location.reload();
	 			
	 		}else{
	 			alert("失败");
	 		}
	       }
	 });	
	
}


	
function dele(id){
	
	$.ajax({
	    type: "POST",
	    url: "deleteProjectInfo",
	    data: {"projectId":id},
	    success: function(data){
	 		if(data.restInfo=="success"){
	 			alert("成功");
	 			location.reload();
	 			
	 		}else{
	 			alert("失败");
	 		}
	       }
	 });	
	
}
		
	

$(function (){

$.ajax({
type: "POST",
url: "queryDeptInfo",
//data: {"projectId":id},
success: function(data){

	alert($("#deptid").val());
  
	 // <![CDATA[
	for(var i=0;i<data.length;i++){
	
		if($("#typeid").val()=='2'){
				if($("#deptid").val()==data[i].id){
			
					$("#sele").append("<option selected = 'selected' value="+data[i].code+" >"+data[i].title+"</option>");
					break;
				}
	
	
		}else{
			if($("#deptid").val()==data[i].id){
				$("#sele").append("<option selected = 'selected' value="+data[i].code+" >"+data[i].title+"</option>");

			}else{
				$("#sele").append("<option value="+data[i].code+" >"+data[i].title+"</option>");
				break;
			}
// 			$("#sele").append("<option value="+data[i].code+" >"+data[i].title+"</option>");
		}

	}
 //   ]]>


   }
});



	
})

//检索查询

$(function (){
	$("#xx").click(function (){
	var bmdm=$('#sele option:selected').val();
	var status=$("#status").val();
	var deptid=$("#deptid").val();
	var xmmcs=$("#xmmcs").val();
	var frdws=$("#frdws").val();

	
		$.ajax({
		    type: "POST",
		    url: "queryProjectInfo",
			    data: {"projectStatus":$("#status").val(),"deptid":$("#deptid").val(),"xmmcs":xmmcs,"frdws":frdws,"bmdm":bmdm},
		    success: function(data){
		    	console.log(data);
		    	
		    	var data;
		    	var j=0;
				   options={
				    		"id":"page",//显示页码的元素
				    		"data":data,//显示数据
				    	    "maxshowpageitem":3,//最多显示的页码个数
				    	    "pagelistcount":10,//每页显示数据个数
				    	    "callBack":function(result){
				    	    	data=result;
				    	debugger;
				    		if($("#status").val()=='1'){
				    	   		if( $("#typeid").val()=='10'){
// 				    	   			alert("修改项目");
				    	    	     var cHtml='  <tr>'+
				    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
				    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
				    	    	      '   <th align='center' valign='middle'>操作</th>'+
				    	    	      ' </tr>';
				    	    	      
			    	    	     // <![CDATA[
	  	    	                var flg;
	  	    	                var statu;
	  	        for(var i=0;i<result.length;i++){
	  	        		j++;
	  	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
	  	        		flg="已上传"
	  	        	}else{
	  	        		flg="未上传"
	  	        	}
	  	       
	  	    	if(result[i].status=='1'){
	  	    		statu="审核通过"
	  	    	}else if(status=='2'){
	  	    		statu="审核拒绝"
	  	    	}else{
	  	    		statu="未审核";
	  	    	}
	  	         //处理数据
	  	     
	  	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10' >修改项目信息</a> &nbsp;&nbsp; </td></tr>";
	  	
	  	           
	  	           
	  	        }
	  	        //   ]]>
				    	   			
				    	   		}
				    		}
				    		if($("#status").val()=='2'){
				    	   		if( $("#typeid").val()=='10'){
				    	   		
				    	   			
// 				    	   			alert("带入库项目");
				    	    	     var cHtml='  <tr>'+
				    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
				    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>是否上传</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>审核状态</th>'+
				    	    	      '   <th align='center' valign='middle'>操作</th>'+
				    	    	      ' </tr>';
				    	    	      
			    	    	     // <![CDATA[
	 	    	                var flg;
	 	    	                var statu;
	 	        for(var i=0;i<result.length;i++){
	 	        		j++;
	 	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
	 	        		flg="已上传"
	 	        	}else{
	 	        		flg="未上传"
	 	        	}
	 	       
	 	    	if(result[i].status=='1'){
	 	    		statu="审核通过"
	 	    	}else if(status=='2'){
	 	    		statu="审核拒绝"
	 	    	}else{
	 	    		statu="未审核";
	 	    	}
	 	         //处理数据
	 	     
	 	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+flg+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+statu+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10'>修改项目信息</a> &nbsp;&nbsp; </td></tr>";
	 	
	 	           
	 	           
	 	        }
	 	        //   ]]>
				    	   		}
				    		}
				    		if($("#status").val()=='3'){
				    	   		if( $("#typeid").val()=='10'){
				    	   			
				    	   			
// 				    	   			alert("未入库项目");
				    	    	     var cHtml='  <tr>'+
				    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
				    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
				    	    	      '   <th align='center' valign='middle'>操作</th>'+
				    	    	      ' </tr>';
				    	    	      
			    	    	     // <![CDATA[
	 	    	                var flg;
	 	    	                var statu;
	 	        for(var i=0;i<result.length;i++){
	 	        		j++;
	 	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
	 	        		flg="已上传"
	 	        	}else{
	 	        		flg="未上传"
	 	        	}
	 	       
	 	    	if(result[i].status=='1'){
	 	    		statu="审核通过"
	 	    	}else if(status=='2'){
	 	    		statu="审核拒绝"
	 	    	}else{
	 	    		statu="未审核";
	 	    	}
	 	         //处理数据
	 	     
	 	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10'>修改项目信息</a> &nbsp;&nbsp; </td></tr>";
	 	
	 	           
	 	           
	 	        }
	 	        //   ]]>
				    	   			
				    	   		}
				    		}
				    		if($("#status").val()=='4'){
				    	   		if( $("#typeid").val()=='10'){
// 				    	   			alert("已完成项目");
				    	    	     var cHtml='  <tr>'+
				    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
				    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
				    	    	      '   <th align='center' valign='middle'>操作</th>'+
				    	    	      ' </tr>';
				    	    	      
			    	    	     // <![CDATA[
	 	    	                var flg;
	 	    	                var statu;
	 	        for(var i=0;i<result.length;i++){
	 	        		j++;
	 	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
	 	        		flg="已上传"
	 	        	}else{
	 	        		flg="未上传"
	 	        	}
	 	       
	 	    	if(result[i].status=='1'){
	 	    		statu="审核通过"
	 	    	}else if(status=='2'){
	 	    		statu="审核拒绝"
	 	    	}else{
	 	    		statu="未审核";
	 	    	}
	 	         //处理数据
	 	     
	 	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10'>修改项目信息</a> &nbsp;&nbsp; </td></tr>";
	 	
	 	           
	 	           
	 	        }
	 	        //   ]]>
				    	   			
				    	   		}
				    		}
				    		
				    	     	if($("#status").val()=='3' ){
				    	     		if( $("#typeid").val()=='2'){

					    	    	     var cHtml='  <tr>'+
						    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
						    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
						    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
						    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
						    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
						    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
						    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
						    	    	      '   <th align='center' valign='middle'>操作</th>'+
						    	    	      ' </tr>';
						    	    	      
					    	    	     // <![CDATA[
			    	    	                var flg;
			    	    	                var statu;
			    	        for(var i=0;i<result.length;i++){
			    	        		j++;
			    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
			    	        		flg="已上传"
			    	        	}else{
			    	        		flg="未上传"
			    	        	}
			    	       
			    	    	if(result[i].status=='1'){
			    	    		statu="审核通过"
			    	    	}else if(status=='2'){
			    	    		statu="审核拒绝"
			    	    	}else{
			    	    		statu="未审核";
			    	    	}
			    	         //处理数据
			    	     
			    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' onclick='xmrl("+result[i].id+")'>项目认领</a> &nbsp;&nbsp; </td></tr>";
			    	
			    	           
			    	           
			    	        }
			    	        //   ]]>
				    	     		}
				    	   
				    	    	}else if($("#status").val()=='2'){
				    	    		if($("#typeid").val()=='2'){
				    	    			debugger;
				    	 	    	     var cHtml='  <tr>'+
					    	    	       '  <th align='center' valign='middle' class='borderright'>序号1</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
					    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
					    	    	      '   <th align='center' valign='middle'>操作</th>'+
					    	    	      ' </tr>';
					    	    	      
				    	    	     // <![CDATA[
		    	    	                var flg;
		    	    	                var statu;
		    	        for(var i=0;i<result.length;i++){
		    	        		j++;
		    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
		    	        		flg="已上传"
		    	        	}else{
		    	        		flg="未上传"
		    	        	}
		    	       
		    	    	if(result[i].status=='1'){
		    	    		statu="审核通过"
		    	    	}else if(status=='2'){
		    	    		statu="审核拒绝"
		    	    	}else{
		    	    		statu="未审核";
		    	    	}
		    	         //处理数据
		    	     
		    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' onclick='xmzc("+result[i].id+")'>转出项目 &nbsp;<a href='deptInfo?id="+result[i].id+"&type=10'>项目进度管理</a></a> &nbsp;&nbsp; </td></tr>";
		    	
		    	           
		    	           
		    	        }
		    	        //   ]]>
				    	    		}
				    	    	
				    	    	} else if($("#status").val()=='1'){
				    	    		if($("#typeid").val()=='2'){
				    	    		     var cHtml='  <tr>'+
					    	    	       '  <th align='center' valign='middle' class='borderright'>序号1</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
					    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
					    	    	      '   <th align='center' valign='middle'>操作</th>'+
					    	    	      ' </tr>';
					    	    	      
				    	    	     // <![CDATA[
		    	    	                var flg;
		    	    	                var statu;
		    	        for(var i=0;i<result.length;i++){
		    	        		j++;
		    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
		    	        		flg="已上传"
		    	        	}else{
		    	        		flg="未上传"
		    	        	}
		    	       
		    	    	if(result[i].status=='1'){
		    	    		statu="审核通过"
		    	    	}else if(status=='2'){
		    	    		statu="审核拒绝"
		    	    	}else{
		    	    		statu="未审核";
		    	    	}
		    	         //处理数据
		    	     
		    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' >暂无 </a> &nbsp;&nbsp; </td></tr>";
		    	
		    	           
		    	           
		    	        }
		    	        //   ]]>
				    	    		}
				    	    		
				    	    	}else{

				    	    	     var cHtml='  <tr>'+
					    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
					    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
					    	    	      '   <th align='center' valign='middle'>操作</th>'+
					    	    	      ' </tr>';
					    	    	      
				    	    	     // <![CDATA[
		    	    	                var flg;
		    	    	                var statu;
		    	        for(var i=0;i<result.length;i++){
		    	        		j++;
		    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
		    	        		flg="已上传"
		    	        	}else{
		    	        		flg="未上传"
		    	        	}
		    	       
		    	    	if(result[i].status=='1'){
		    	    		statu="审核通过"
		    	    	}else if(status=='2'){
		    	    		statu="审核拒绝"
		    	    	}else{
		    	    		statu="未审核";
		    	    	}
		    	         //处理数据
		    	     
		    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' onclick='xmrl("+result[i].id+")'>项目认领</a> &nbsp;&nbsp; </td></tr>";
		    	
		    	           
		    	           
		    	        }
		    	        //   ]]>
				    	   	  
				    	    	}
				    	
				    	    
				    	    	 debugger;
				    	        $("#main-tab").html(cHtml);//将数据增加到页面中
//				    	        $("#demoContent").html(cHtml);//将数据增加到页面中
				    	    }
				    	};
				    	   page.init(data.length,1,options);
		    	 // <![CDATA[
//			    	for(var i=0;i<data.length;i++){
//			    		$("#sele").append("<option>"+data[i].title+"</option>");
		    	
		    		
//			    	}
		     //   ]]>
		    
			
			
		       }
		 });	
		
		
	})
	
})

$(function (){

	$.ajax({
	    type: "POST",
	    url: "queryProjectInfo",
		    data: {"projectStatus":$("#status").val(),"deptid":$("#deptid").val()},
	    success: function(data){
	    	console.log(data);
	    	
	    	var data;
	    	var j=0;
			   options={
			    		"id":"page",//显示页码的元素
			    		"data":data,//显示数据
			    	    "maxshowpageitem":3,//最多显示的页码个数
			    	    "pagelistcount":10,//每页显示数据个数
			    	    "callBack":function(result){
			    	    	data=result;
			    	debugger;
			    		if($("#status").val()=='1'){
			    	   		if( $("#typeid").val()=='10'){
// 			    	   			alert("修改项目");
			    	    	     var cHtml='  <tr>'+
			    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
			    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
			    	    	      '   <th align='center' valign='middle'>操作</th>'+
			    	    	      ' </tr>';
			    	    	      
		    	    	     // <![CDATA[
  	    	                var flg;
  	    	                var statu;
  	        for(var i=0;i<result.length;i++){
  	        		j++;
  	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
  	        		flg="已上传"
  	        	}else{
  	        		flg="未上传"
  	        	}
  	       
  	    	if(result[i].status=='1'){
  	    		statu="审核通过"
  	    	}else if(status=='2'){
  	    		statu="审核拒绝"
  	    	}else{
  	    		statu="未审核";
  	    	}
  	         //处理数据
  	     
  	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10' >修改项目信息</a> &nbsp;&nbsp; </td></tr>";
  	
  	           
  	           
  	        }
  	        //   ]]>
			    	   			
			    	   		}
			    		}
			    		if($("#status").val()=='2'){
			    	   		if( $("#typeid").val()=='10'){
			    	   		
			    	   			
			    	   			alert("带入库项目");
			    	    	     var cHtml='  <tr>'+
			    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
			    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>是否上传</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>审核状态</th>'+
			    	    	      '   <th align='center' valign='middle'>操作</th>'+
			    	    	      ' </tr>';
			    	    	      
		    	    	     // <![CDATA[
 	    	                var flg;
 	    	                var statu;
 	        for(var i=0;i<result.length;i++){
 	        		j++;
 	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
 	        		flg="已上传"
 	        	}else{
 	        		flg="未上传"
 	        	}
 	       
 	    	if(result[i].status=='1'){
 	    		statu="审核通过"
 	    	}else if(status=='2'){
 	    		statu="审核拒绝"
 	    	}else{
 	    		statu="未审核";
 	    	}
 	         //处理数据
 	     
 	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+flg+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+statu+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10'>修改项目信息</a> &nbsp;&nbsp; </td></tr>";
 	
 	           
 	           
 	        }
 	        //   ]]>
			    	   		}
			    		}
			    		if($("#status").val()=='3'){
			    	   		if( $("#typeid").val()=='10'){
			    	   			
			    	   			
			    	   			alert("未入库项目");
			    	    	     var cHtml='  <tr>'+
			    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
			    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
			    	    	      '   <th align='center' valign='middle'>操作</th>'+
			    	    	      ' </tr>';
			    	    	      
		    	    	     // <![CDATA[
 	    	                var flg;
 	    	                var statu;
 	        for(var i=0;i<result.length;i++){
 	        		j++;
 	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
 	        		flg="已上传"
 	        	}else{
 	        		flg="未上传"
 	        	}
 	       
 	    	if(result[i].status=='1'){
 	    		statu="审核通过"
 	    	}else if(status=='2'){
 	    		statu="审核拒绝"
 	    	}else{
 	    		statu="未审核";
 	    	}
 	         //处理数据
 	     
 	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10'>修改项目信息</a> &nbsp;&nbsp; </td></tr>";
 	
 	           
 	           
 	        }
 	        //   ]]>
			    	   			
			    	   		}
			    		}
			    		if($("#status").val()=='4'){
			    	   		if( $("#typeid").val()=='10'){
			    	   			alert("已完成项目");
			    	    	     var cHtml='  <tr>'+
			    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
			    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
			    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
			    	    	      '   <th align='center' valign='middle'>操作</th>'+
			    	    	      ' </tr>';
			    	    	      
		    	    	     // <![CDATA[
 	    	                var flg;
 	    	                var statu;
 	        for(var i=0;i<result.length;i++){
 	        		j++;
 	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
 	        		flg="已上传"
 	        	}else{
 	        		flg="未上传"
 	        	}
 	       
 	    	if(result[i].status=='1'){
 	    		statu="审核通过"
 	    	}else if(status=='2'){
 	    		statu="审核拒绝"
 	    	}else{
 	    		statu="未审核";
 	    	}
 	         //处理数据
 	     
 	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='deptInfo?id="+result[i].id+"&type=10'>修改项目信息</a> &nbsp;&nbsp; </td></tr>";
 	
 	           
 	           
 	        }
 	        //   ]]>
			    	   			
			    	   		}
			    		}
			    		
			    	     	if($("#status").val()=='3' ){
			    	     		if( $("#typeid").val()=='2'){

				    	    	     var cHtml='  <tr>'+
					    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
					    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
					    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
					    	    	      '   <th align='center' valign='middle'>操作</th>'+
					    	    	      ' </tr>';
					    	    	      
				    	    	     // <![CDATA[
		    	    	                var flg;
		    	    	                var statu;
		    	        for(var i=0;i<result.length;i++){
		    	        		j++;
		    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
		    	        		flg="已上传"
		    	        	}else{
		    	        		flg="未上传"
		    	        	}
		    	       
		    	    	if(result[i].status=='1'){
		    	    		statu="审核通过"
		    	    	}else if(status=='2'){
		    	    		statu="审核拒绝"
		    	    	}else{
		    	    		statu="未审核";
		    	    	}
		    	         //处理数据
		    	     
		    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' onclick='xmrl("+result[i].id+")'>项目认领</a> &nbsp;&nbsp; </td></tr>";
		    	
		    	           
		    	           
		    	        }
		    	        //   ]]>
			    	     		}
			    	   
			    	    	}else if($("#status").val()=='2'){
			    	    		if($("#typeid").val()=='2'){
			    	    			debugger;
			    	 	    	     var cHtml='  <tr>'+
				    	    	       '  <th align='center' valign='middle' class='borderright'>序号1</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
				    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
				    	    	      '   <th align='center' valign='middle'>操作</th>'+
				    	    	      ' </tr>';
				    	    	      
			    	    	     // <![CDATA[
	    	    	                var flg;
	    	    	                var statu;
	    	        for(var i=0;i<result.length;i++){
	    	        		j++;
	    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
	    	        		flg="已上传"
	    	        	}else{
	    	        		flg="未上传"
	    	        	}
	    	       
	    	    	if(result[i].status=='1'){
	    	    		statu="审核通过"
	    	    	}else if(status=='2'){
	    	    		statu="审核拒绝"
	    	    	}else{
	    	    		statu="未审核";
	    	    	}
	    	         //处理数据
	    	     
	    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' onclick='xmzc("+result[i].id+")'>转出项目 &nbsp;<a href='deptInfo?id="+result[i].id+"&type=2'>项目进度管理</a></a> &nbsp;&nbsp; </td></tr>";
	    	
	    	           
	    	           
	    	        }
	    	        //   ]]>
			    	    		}
			    	    	
			    	    	} else if($("#status").val()=='1'){
			    	    		if($("#typeid").val()=='2'){
			    	    		     var cHtml='  <tr>'+
				    	    	       '  <th align='center' valign='middle' class='borderright'>序号1</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
				    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
				    	    	      '   <th align='center' valign='middle'>操作</th>'+
				    	    	      ' </tr>';
				    	    	      
			    	    	     // <![CDATA[
	    	    	                var flg;
	    	    	                var statu;
	    	        for(var i=0;i<result.length;i++){
	    	        		j++;
	    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
	    	        		flg="已上传"
	    	        	}else{
	    	        		flg="未上传"
	    	        	}
	    	       
	    	    	if(result[i].status=='1'){
	    	    		statu="审核通过"
	    	    	}else if(status=='2'){
	    	    		statu="审核拒绝"
	    	    	}else{
	    	    		statu="未审核";
	    	    	}
	    	         //处理数据
	    	     
	    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' >暂无 </a> &nbsp;&nbsp; </td></tr>";
	    	
	    	           
	    	           
	    	        }
	    	        //   ]]>
			    	    		}
			    	    		
			    	    	}else{

			    	    	     var cHtml='  <tr>'+
				    	    	       '  <th align='center' valign='middle' class='borderright'>序号</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目法人码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>部门代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目单位名称</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>项目名称</th>'+
				    	    	         '<th align='center' valign='middle' class='borderright'>法人单位代码</th>'+
				    	    	        ' <th align='center' valign='middle' class='borderright'>计划总投资</th>'+
				    	    	      '   <th align='center' valign='middle'>操作</th>'+
				    	    	      ' </tr>';
				    	    	      
			    	    	     // <![CDATA[
	    	    	                var flg;
	    	    	                var statu;
	    	        for(var i=0;i<result.length;i++){
	    	        		j++;
	    	        	if(result[i].file1!=null||result[i].file2!=null||result[i].file3!=null||result[i].file4!=null||result[i].file5!=null){
	    	        		flg="已上传"
	    	        	}else{
	    	        		flg="未上传"
	    	        	}
	    	       
	    	    	if(result[i].status=='1'){
	    	    		statu="审核通过"
	    	    	}else if(status=='2'){
	    	    		statu="审核拒绝"
	    	    	}else{
	    	    		statu="未审核";
	    	    	}
	    	         //处理数据
	    	     
	    	           cHtml+="<tr> <td align='center' valign='middle' class='borderright borderbottom' >"+j+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmfrm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].bmdm+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmdwmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].xmmc+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+"</td> <td align='center' valign='middle' class='borderright borderbottom' >"+result[i].jhztz+"</td> <td align='center' valign='middle' class='borderright borderbottom' ><a href='#' onclick='xmrl("+result[i].id+")'>项目认领</a> &nbsp;&nbsp; </td></tr>";
	    	
	    	           
	    	           
	    	        }
	    	        //   ]]>
			    	   	  
			    	    	}
			    	
			    	    
			    	    	 debugger;
			    	        $("#main-tab").html(cHtml);//将数据增加到页面中
//			    	        $("#demoContent").html(cHtml);//将数据增加到页面中
			    	    }
			    	};
			    	   page.init(data.length,1,options);
	    	 // <![CDATA[
//		    	for(var i=0;i<data.length;i++){
//		    		$("#sele").append("<option>"+data[i].title+"</option>");
	    	
	    		
//		    	}
	     //   ]]>
	    
		
	       }
	 });	
	
	
	
})


</script>
</head>
<body>
<input type="hidden"  id="typeid" th:value="${typeid}"/>
<input type="hidden"  id="deptid" th:value="${deptid}"/>
<input type="hidden" id="status" th:value="${status}"/>
<!--main_top-->
<table  width="100%"  border="0" cellspacing="0" cellpadding="0" id="searchmain">
  <tr>
    <td  align="left" valign="top">您的位置：项目信息</td>
  </tr>
  <tr>
    <td align="left" valign="top">
    <table border="0" cellspacing="0" cellpadding="0" id="search">
  		<tr>
   		 <td align="left" valign="middle">
	         <form method="post" action="">
 	         <span>所属部门：    <select id="sele" style="margin-top:10px"> 
           			
          </select> </span> 
    
           
       
            <span>项目名称：   <input id="xmmcs" type="text" /></span>    
     
                <span>法人单位：         <input id="frdws" type="text" /></span>
   			
         <input id="xx" type="button" value="查询" class="text-but"/>
	         </form>
	                <form method="post" action="">
<!-- 	         <span>日期：</span> -->
<!-- 	         <input type="text" name="" value="" class="text-word"/> -->
<!-- 	         <input name="" type="button" value="查询" class="text-but"/> -->
	         </form>
         </td>
  		  <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="add.html" target="mainFrame" onFocus="this.blur()" class="add"></a></td>
  		</tr>
	</table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
    
    <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
   
   
<!--       <tr id="das" onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'"> -->

<!--         <td align="center" valign="middle" class="borderbottom"><a target="mainFrame" onFocus="this.blur()" class="add">编辑</a><span class="gray">&nbsp;|&nbsp;</span><a id="dele" href="javascript:;" target="mainFrame" onFocus="this.blur()" class="add">删除</a></td>  -->
    
<!--       </tr> -->
   
    </table></td>
    </tr>
<!--   <tr> -->
<!--     <td align="left" valign="top" class="fenye">11 条数据 1/1 页&nbsp;&nbsp;<a href="#" target="mainFrame" onFocus="this.blur()">首页</a>&nbsp;&nbsp;<a href="#" target="mainFrame" onFocus="this.blur()">上一页</a>&nbsp;&nbsp;<a href="#" target="mainFrame" onFocus="this.blur()">下一页</a>&nbsp;&nbsp;<a href="#" target="mainFrame" onFocus="this.blur()">尾页</a></td> -->
<!--   </tr> -->
</table>
 <ul id="demoContent"></ul>
 <ul class="page" id="page"></ul>
</body>
</html>