<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>备案信息</title>
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="css/css.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="images/main/favicon.ico" />
<style>
body{overflow-x:hidden; background:#f2f0f5; padding:15px 0px 10px 5px;}
#searchmain{ font-size:12px;}
#search{ font-size:12px; background:#548fc9; margin:10px 10px 0 0; display:inline; width:100%; color:#FFF; float:left}
#search form span{height:40px; line-height:40px; padding:0 0px 0 10px; float:left;}
#search form input.text-word{height:24px; line-height:24px; width:180px; margin:8px 0 6px 0; padding:0 0px 0 10px; float:left; border:1px solid #FFF;}
#search form input.text-but{height:24px; line-height:24px; width:55px; background:url(images/main/list_input.jpg) no-repeat left top; border:none; cursor:pointer; font-family:"Microsoft YaHei","Tahoma","Arial",'宋体'; color:#666; float:left; margin:8px 0 0 6px; display:inline;}
#search a.add{ padding:0 10px 0 26px; height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#FFF; float:right}
#search a:hover.add{ text-decoration:underline; color:#d2e9ff;}
#main-tab{ border:1px solid #eaeaea; background:#FFF; font-size:12px;}
#main-tab th{ font-size:12px; background:url(images/main/list_bg.jpg) repeat-x; height:32px; line-height:32px;text-align:center;}
#main-tab td{ font-size:12px; line-height:40px;}
#main-tab td a{ font-size:12px; color:#548fc9;}
#main-tab td a:hover{color:#565656; text-decoration:underline;}
.bordertop{ border-top:1px solid #ebebeb}
.borderright{ border-right:1px solid #ebebeb}
.borderbottom{ border-bottom:1px solid #ebebeb}
.borderleft{ border-left:1px solid #ebebeb}
.gray{ color:#dbdbdb;}
td.fenye{ padding:10px 0 0 0; text-align:right;}
.bggray{ background:#f9f9f9}
</style>
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
  <tr>
    <td width="99%" align="left" valign="top">您的位置：备案信息</td>
  </tr>
  <tr>
    <td align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
  		<tr>
  		  <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="record.html?type=bmdm0" target="mainFrame" onFocus="this.blur()" class="add" id="bmwpp">部门未匹配</a></td>
  		  <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="record.html?type=bmdm1" target="mainFrame" onFocus="this.blur()" class="add" id="bmypp">部门已匹配</a></td>
  		  <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="javascript:;" target="mainFrame" onFocus="this.blur()" class="add" id="pipei">匹配部门</a></td>
  		  <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="http://hyxwqy.com:9090/" target="mainFrame" onFocus="this.blur()" class="add" id="bazq">备案抓取</a></td>
  		  <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="javascript:;" target="mainFrame" onFocus="this.blur()" class="add" id="SendMessage">消息发送</a></td>
  		  <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="javascript:;" target="mainFrame" onFocus="this.blur()" class="add" id="bazxm">备案转项目</a></td>
  		</tr>
	</table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
      <tr>
      	<th style="display:none" align="center" valign="middle" class="borderright">项目编号</th>
      	<th style="display:none" align="center" valign="middle" class="borderright">项目备案代码</th>
      	<th style="display:none" align="center" valign="middle" class="borderright">部门代码</th>
        <th align="center" valign="middle" class="borderright">项目名称</th>
        <th align="center" valign="middle" class="borderright">项目法人单位</th>
        <th align="center" valign="middle" class="borderright">审批监管事项</th>
        <th align="center" valign="middle" class="borderright">管理部门</th>
        <th align="center" valign="middle" class="borderright">办理状态</th>
        <th align="center" valign="middle" class="borderright">办理状态变更时间</th>
        <th align="center" valign="middle" class="borderright">抓取日期</th>
        <th align="center" valign="middle">操作</th>
      </tr>
      <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'" th:each="obj : ${list}">
      	<td style="display:none" align="center" valign="middle" class="borderright borderbottom" th:text="${obj.id}"></td>
      	<td style="display:none" align="center" valign="middle" class="borderright borderbottom" th:text="${obj.xmbadm}"></td>
      	<td style="display:none" align="center" valign="middle" class="borderright borderbottom" th:text="${obj.bmdm}"></td>
        <td align="center" valign="middle" class="borderright borderbottom get" th:text="${obj.xmmc}"></td>
        <td align="center" valign="middle" class="borderright borderbottom" th:text="${obj.xmfrdw}"></td>
        <td align="center" valign="middle" class="borderright borderbottom" th:text="${obj.spsx}"></td>
        <td align="center" valign="middle" class="borderright borderbottom" th:text="${obj.glbm}"></td>
        <td align="center" valign="middle" class="borderright borderbottom" th:text="${obj.blzd}"></td>
        <td align="center" valign="middle" class="borderright borderbottom" th:text="${obj.blrq}"></td>
        <td align="center" valign="middle" class="borderright borderbottom" th:text="${obj.zcrq}"></td>
        <td align="center" valign="middle" class="borderbottom">
        	<a href="javascript:;" target="mainFrame" onFocus="this.blur()" class="add edit">编辑</a>
        	<span class="gray">&nbsp;|&nbsp;</span>
        	<a href="javascript:;" target="mainFrame" onFocus="this.blur()" class="add" id="delete">删除</a>
        </td>
      </tr>
    </table></td>
    </tr>
  <tr>
    <td align="left" valign="top" class="fenye"><span th:text="${totalCount}"></span> 条数据  <span th:text="${pageNum}"></span>/<span th:text="${pageCount}"></span> 页&nbsp;&nbsp;
    <a th:href="record.html+${key}+'1'" target="mainFrame" onFocus="this.blur()">首页</a>&nbsp;&nbsp;
    <a th:href="record.html+${key}+${pageNum-1}" target="mainFrame" onFocus="this.blur()">上一页</a>&nbsp;&nbsp;
    <a th:href="record.html+${key}+${pageNum+1}" target="mainFrame" onFocus="this.blur()">下一页</a>&nbsp;&nbsp;
    <a th:href="record.html+${key}+${pageCount}" target="mainFrame" onFocus="this.blur()">尾页</a></td>
  </tr>
</table>

<div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">备案信息编辑</h4>
          </div>
          <div class="modal-body">

            <form id="form1" method="post" class="form-horizontal">

              <div class="form-group">
                <label class="col-sm-2 control-label">编号</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" readonly="readonly" name="xmId" id="xmId"/>
                </div>

              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">项目备案代码</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="xmbadm" id="xmbadm"/>
                </div>
                <label class="col-sm-2 control-label">项目名称</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="xmmc" id="xmmc"/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">项目法人单位</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="xmfrdw" id="xmfrdw"/>
                </div>
                <label class="col-sm-2 control-label">审批事项</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="spsx" id="spsx"/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">管理部门</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="glbm" id="glbm"/>
                </div>
                <label class="col-sm-2 control-label">办理状态</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="blzd" id="blzd"/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">办理日期</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="blrq" id="blrq"/>
                </div>
                <label class="col-sm-2 control-label">抓取日期</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="zqrq" id="zqrq"/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">部门代码</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="bmdm" id="bmdm"/>
                </div>
                <label class="col-sm-2 control-label">计划总投资</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="jhztz" id="jhztz"/>
                </div>
              </div>

            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="editSub">保存</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal inmodal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">消息发送</h4>
          </div>
          <div class="modal-body">

            <form id="infoForm" method="post" class="form-horizontal">
				<p style="display:none" id="xms"></p>
              <div class="form-group" id="bmdiv">
                <label class="col-sm-2 control-label">部门</label>
                <div class="col-sm-3">
                  <select class="form-control m-b" id="bmdms">
                    <option>请选择</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">项目名称</label>

                <div class="col-sm-4">
                  <p id="xmmcs"></p>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">项目法人单位</label>

                <div class="col-sm-4">
                	<p id="xmfrdws"></p>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>

                <div class="col-sm-4">
                  <textarea class="form-control" name="title" id="title"></textarea>
                </div>
			  </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="sendSub">保存</button>
          </div>
        </div>
      </div>
    </div>
    
    
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
var xms=null;
var typeId=null;
var record=null;
$(function(){
	
	$.ajax({
		url:"userinfo",
		type:"get",
		dataType:"json",
		data:{},
		success:function(data){
			if(data.flag){
				typeId==data.typeId;
				if(data.typeId=='2' || data.typeId==2){
					$("#bmwpp").hide();
					$("#bmypp").hide();
					$("#bazq").hide();
					$("#bazxm").hide();
					$("#pipei").hide();
					$("#SendMessage").hide();
				}
			}
		},
		error:function(data){
			console.log(data);
		}
	});
	
	$("#pipei").on("click",function(){
		$.ajax({
			url:"matchDept",
			type:"get",
			dataType:"json",
			timeout:20000,
			data:{},
			success:function(data){
				if(data.flag){
					alert("匹配到"+data.row+"条");
				}else{
					alert("网络错误!");
				}
			},
			error:function(data){
				console.log(data);
			}
		});
	});
	
	$("#delete").on("click",function(){
		$.ajax({
			url:"deleteXmById",
			type:"get",
			dataType:"json",
			data:{"id":$(this).parent().parent().find("td:first").text()},
			success:function(data){
				if(data.flag){
					alert("删除成功");
					window.location.reload();
				}else{
					alert(data.msg);
				}
			},
			error:function(data){
				console.log(data);
			}
		});
	});
	$(".edit").on("click",function(){
		record=$(this).parent().parent();
		$("#xmId").val($(this).parent().parent().find("td").eq(0).text());
		$("#xmbadm").val($(this).parent().parent().find("td").eq(1).text());
		$("#bmdm").val($(this).parent().parent().find("td").eq(2).text());
		$("#xmmc").val($(this).parent().parent().find("td").eq(3).text());
		$("#xmfrdw").val($(this).parent().parent().find("td").eq(4).text());
		$("#spsx").val($(this).parent().parent().find("td").eq(5).text());
		$("#glbm").val($(this).parent().parent().find("td").eq(6).text());
		$("#blzd").val($(this).parent().parent().find("td").eq(7).text());
		$("#blrq").val($(this).parent().parent().find("td").eq(8).text());
		$("#zqrq").val($(this).parent().parent().find("td").eq(9).text());
		$("#myModal").modal();
	});
	$(".get").on("click",function(){
		$("#xmId").val($(this).parent().find("td").eq(0).text());
		$("#xmbadm").val($(this).parent().find("td").eq(1).text());
		$("#bmdm").val($(this).parent().find("td").eq(2).text());
		$("#xmmc").val($(this).parent().find("td").eq(3).text());
		$("#xmfrdw").val($(this).parent().find("td").eq(4).text());
		$("#spsx").val($(this).parent().find("td").eq(5).text());
		$("#glbm").val($(this).parent().find("td").eq(6).text());
		$("#blzd").val($(this).parent().find("td").eq(7).text());
		$("#blrq").val($(this).parent().find("td").eq(8).text());
		$("#zqrq").val($(this).parent().find("td").eq(9).text());
		$("#myModal").modal();
	});
	$("#SendMessage").on("click",function(){
		$.ajax({
			url:"getDept",
			type:"get",
			dataType:"json",
			data:{},
			success:function(data){
				$.each(data.list,function(i,obj){
					$("#bmdms").append("<option value="+obj.code+">"+obj.title+"</option>");
				});
			},
			error:function(data){
				console.log(data);
			}
		});
        $("#xmmcs").html("");
        $("#xmfrdws").html("");
        $("#xms").html("");
		$("#infoModal").modal('show');
	});
	
	$("#sendSub").on("click",function(){
		$.ajax({
			url:"sendMessageBa",
			type:"post",
			dataType:"json",
			data:{"bmdm":$("#bmdms").val(),"title":$("#title").val(),"xms":$("#xms").text()},
			success:function(data){
				if(data.flag){
					alert("发送成功");
					$("#infoModal").modal('hide');
				}else{
					alert(data.msg)
				}
			},
			error:function(data){
				console.log(data);
			}
		});
	});
	
	$("#bmdms").on("change",function(){
        $("#xmmcs").html("");
        $("#xmfrdws").html("");
        $("#xms").html("");
		$.ajax({
			url:"getXmbaxxByDeptBmdm",
			type:"get",
			dataType:"json",
			data:{"bmdm":$("#bmdms").val()},
			success:function(data){
				if(data.flag){
					xms=data.list;
					$.each(data.list,function(i,obj){
						$("#xmmcs").append(obj.xmmc+",");
						$("#xmfrdws").append(obj.xmfrdw+",");
						$("#xms").append(obj.id+",");
					});
				}else{
					alert(data.msg);
				}
			},
			error:function(data){
				console.log(data);
			}
		});
	});
	
	$("#bazxm").on("click",function(){
		$.ajax({
			url:"bazxm",
			type:"post",
			dataType:"json",
			data:{},
			success:function(data){
				if(data.flag){
					alert("在项目信息中添加"+data.rowXmxx+"条项目");
					alert("已删除项目备案信息"+data.rowXmbaxx+"条项目");
					window.location.reload();
				}else{
					alert(data.msg);
				}
			},
			error:function(data){
				console.log(data);
			}
		});
	});
	$("#editSub").on("click",function(){
		$.ajax({
			url:"editXmByKey",
			type:"post",
			dataType:"json",
			data:$("#form1").serialize(),
			success:function(data){
				if(data.flag){
					if(confirm("是否发送消息")){
						$("#myModal").modal('hide');
						$("#infoModal").modal('show');
                        $("#bmdiv").hide();
                        var text = $(record).find("td").eq(2).text();
                        $("#bmdms").html("<option value="+text+">"+text+"</option>");
                        $("#bmdms").val($(record).find("td").eq(2).text());
						$("#xmmcs").text($(record).find("td").eq(3).text());
						$("#xmfrdws").text($(record).find("td").eq(4).text());
						$("#xms").text($(record).find("td").eq(0).text());
					}else{
						alert("保存成功");
						window.location.reload();
					}
				}else{
					alert(data.msg);
				}
			},
			error:function(data){
				console.log(data);
			}
		});
	});
	
});
</script>
</html>