<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howard.investment.dao.RecordDao">

    <select id="getRecordByKey" resultType="map">
        select top 15 * from (select top ${pageNum} * from xmbaxx order by id desc) 
        <if test="type == 'bmdm0'">
         where bmdm='' 
        </if>
        <if test="type == 'bmdm1'">
         where bmdm!='' 
        </if>
        order by id asc
    </select>
    
    <select id="getRecordByKeyCount" resultType="int">
        select count(*) from xmbaxx 
        <if test="type == 'bmdm0'">
         where bmdm='' 
        </if>
        <if test="type == 'bmdm1'">
         where bmdm!=''
        </if>
    </select>
    
    <select id="getXmfrdwAll" resultType="map">
        select * from xmdwxx
    </select>
    
    <select id="getDept" resultType="map">
        select * from dept 
    </select>
    
    <select id="getXmByIds" resultType="map">
        select * from xmbaxx where id in(${ids}) 
    </select>
    
    <select id="getXmbaxxByDeptBmdm" resultType="map">
        select * from xmbaxx where bmdm=#{bmdm} 
    </select>
    
    <select id="getXmbaxxByJhztz" resultType="map">
        select a.*,b.id as deptid,a.id as xmid from xmbaxx a left join dept b on(a.bmdm=b.code) where a.jhztz>500
    </select>
    
    <insert id="insertXmxx" parameterType="map" > 
   		  insert into xmxx 
   		  ([deptid],[xmfrm],[bmdm],[xmdwmc],[xmmc],[frdm],[jhztz],[xmfl],[status]) 
   		  values(#{obj.deptid},#{obj.xmbadm},${obj.bmdm},#{obj.xmfrdw},#{obj.xmmc},#{obj.xmbadm},${obj.jhztz},1,0)
    </insert> 
    
    <update id="updateByKey">
        update xmbaxx set bmdm=#{bmdm} where xmfrdw=#{xmfrdw}
    </update>
    
    <delete id="deleteXmByJhztz">
        delete from xmbaxx where jhztz>500
    </delete>
    
    <update id="updateXmByKey">
        update xmbaxx set 
        <if test="obj.xmbadm!=null">xmbadm=#{obj.xmbadm},</if>
        <if test="obj.bmdm!=null and obj.bmdm!=''">bmdm=#{obj.bmdm},</if>
        <if test="obj.xmmc!=null">xmmc=#{obj.xmmc},</if>
        <if test="obj.xmfrdw!=null">xmfrdw=#{obj.xmfrdw},</if>
        <if test="obj.spsx!=null">spsx=#{obj.spsx},</if>
        <if test="obj.glbm!=null">glbm=#{obj.glbm},</if>
        <if test="obj.blzd!=null">blzd=#{obj.blzd},</if>
        <if test="obj.blrq!=null">blrq=#{obj.blrq},</if>
        <if test="obj.zqrq!=null">zcrq=#{obj.zqrq},</if>
        <if test="obj.jhztz!=null">jhztz=#{obj.jhztz}</if>
        where id=#{obj.xmId}
    </update>
    
    <delete id="deleteXmById">
        delete from xmbaxx where id=#{id}
    </delete>
    
    <select id="getXminfoByKey" resultType="map">
        select a.* from xminfo a 
        <if test="typeId==10">
        where a.infostate=0 and a.infotype=2 
        </if>
        <if test="typeId==2">
        left join dept b on(a.bmdm=b.code) 
        where a.infostate=0 
        and a.infotype=10 and b.id=#{deptId} 
        </if>
        <if test="typeId==3">
        where a.infostate=0 and a.infotype=11 
        </if>
        <if test="typeId==11">
        left join dept b on(a.bmdm=b.code) 
        where a.infostate=0 
        and a.infotype=3 and b.id=#{deptId} 
        </if>
    </select>
    
 

</mapper>